<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="entryQueue" value=".\Private$\webentry"/>
    <add key="service1Queue" value=".\Private$\service1"/>
    <add key="service2Queue" value=".\Private$\service2"/>
    <add key="service3Queue" value=".\Private$\service3"/>
    <add key="exitQueue" value=".\Private$\webexit"/>
    <add key="commandQueue" value=".\Private$\commandQueue"/>
    <add key="commandReplyQueue" value=".\Private$\commandReplyQueue"/>
    
    <add key="SiliconClientId" value="dev-silicon"/>
    <add key="SiliconClientSecret" value="dev-silicon-secret"/>
    
    <add key="scheme" value="https"/>
    <add key="hostname" value="local.entrypoint"/>
    <add key="port" value="9000"/>
    <add key="websocket.port" value="9001"/>
    <add key="websocket.scheme" value="wss"/>
    <add key="websocket.listeners.csv" value="local.frontend"/>
    <add key="authserver" value="local.identityserver:5000/"/>
    <add key="log.level" value="Debug"/>
    
    <add key="service1.type" value="fake"/>
    <add key="service1.name" value="fake"/>
    <add key="service1.hostname.fullpath" value="fake"/>
    <add key="service1.auth.scope" value="fake"/>
    <add key="service1.max.load" value="1"/>

    <add key="service2.type" value="simple"/>
    <add key="service2.name" value="Ms Webapi2"/>
    <add key="service2.hostname.fullpath" value="local.ms-webapi2.api/api/callme"/>
    <add key="service2.auth.scope" value="ms-webapi2"/>
    <add key="service2.max.load" value="1"/>
    
    <add key="service3.type" value="simple"/>
    <add key="service3.name" value="Real 404"/>
    <add key="service3.hostname.fullpath" value="local.ms-webapi2.api/api/real-404"/>
    <add key="service3.auth.scope" value="ms-webapi2"/>
    <add key="service3.max.load" value="1"/>
    
    <add key="service4.type" value="simple"/>
    <add key="service4.name" value="Real Crash"/>
    <add key="service4.hostname.fullpath" value="local.ms-webapi2.api/api/crashme"/>
    <add key="service4.auth.scope" value="ms-webapi2"/>
    <add key="service4.max.load" value="1"/>
    
    <add key="service5.type" value="simple"/>
    <add key="service5.name" value="Check order resources"/>
    <add key="service5.hostname.fullpath" value="local.nancy-web-api/check"/>
    <add key="service5.auth.scope" value="nancy-api"/>
    <add key="service5.max.load" value="2"/>
    
    <add key="service6.type" value="simple"/>
    <add key="service6.name" value="serviceStack api"/>
    <add key="service6.hostname.fullpath" value="local.servicestack-api/api/callme"/>
    <add key="service6.auth.scope" value="servicestack-api"/>
    <add key="service6.max.load" value="3"/>
    
    <add key="service7.type" value="custom"/>
    <add key="service7.name" value="pc lookup"/>
    <add key="service7.hostname.fullpath" value="local.wcf-service/callme"/>
    <add key="service7.auth.scope" value="PC-token-here"/>
    <add key="service7.max.load" value="1"/>

    <add key="service8.type" value="postback"/>
    <add key="service8.name" value="postback"/>
    <add key="service8.hostname.fullpath" value="postback.url.provided.by.client"/>
    <add key="service8.auth.scope" value="nancy-api"/>
    <add key="service8.max.load" value="1"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
