<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="entryQueue" value=".\Private$\webentry" />
      <add key="service1Queue" value=".\Private$\service1" />
      <add key="service2Queue" value=".\Private$\service2" />
      <add key="service3Queue" value=".\Private$\service3" />
      <add key="exitQueue" value=".\Private$\webexit" />
      
      <add key="SiliconClientId" value="dev-silicon" /> 
      <add key="SiliconClientSecret" value="dev-password" /> 
      
      <add key="Websocket.ListenUrls" value="http://local.frontend, https://local.frontend, https://azure.com" />
      
      <add key="facing" value="localhttps" />
      <add key="facing.localhttp.hosturl" value="http://local.entrypoint:9001/" /> 
      <add key="facing.localhttps.hosturl" value="https://local.entrypoint:9000/" />
      <add key="facing.remotehttps.hosturl" value="https://ec2-52-57-195-49.eu-central-1.compute.amazonaws.com:9000/" />

      <add key="facing.localhttp.socketserver.url" value="ws://local.entrypoint:9003/" />
      <add key="facing.localhttps.socketserver.url" value="wss://local.entrypoint:9004/" />
      <add key="facing.remotehttps.socketserver.url" value="ws://local.entrypoint:9004" />

      <add key="facing.localhttp.authserver" value="http://local.identityserver:5001/" />
      <add key="facing.localhttps.authserver" value="https://local.identityserver:5000/" />
      <add key="facing.remotehttps.authserver" value="http://ec2-52-57-195-49.eu-central-1.compute.amazonaws.com:5000/" />
      
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>